<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img
        width="220"
        height="225"
        style="
          position: relative;
          border-radius: 50%;
          display: block;
          margin: 0 auto;
          top: 0px;
        "
        src="{{ site.url }}/avatar.png"
      />

      <h2>
        <a href="{{ site.url }}"> {{ site.title }} </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a
        class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}"
        href="{{ site.url }}"
        >Start</a
      >

      {% comment %} The code below dynamically generates a sidebar nav of pages
      with `layout: page` in the front-matter. See readme for usage. {%
      endcomment %} {% assign pages_list = site.pages %} {% for node in
      pages_list %} {% if node.title != null %} {% if node.layout == "page" %}
      {% if node.sitemap != false %}
      <a
        class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
        href="{{ node.url }}"
        >{{ node.title }}</a
      >
      {% endif %}
      {% endif %} {% endif %} {% endfor %}
    </nav>

    <nav class="sidebar-nav">
      <span class="sidebar-nav-item">Projects</span>
      <a class="sidebar-nav-item" href="{{ site.url }}/software/tiktok/2026/02/11/introducing-fabulous-universe-manager/" onclick="window.open('https://postiz.uliber.com', '_blank');">Fabulous Universe Manager</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/privacy-fabulous-universe/">Privacy Policy</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/terms-fabulous-universe/">Terms of Service</a>
    </nav>

    <p class="footer-text">
      {{ site.time | date: '%Y' }} Made with ❤️ from Valencia, Spain
    </p>
  </div>
</div>
